aiohttp==3.7.3
async-generator==1.10
async-timeout==3.0.1
Automat==20.2.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
blis==0.2.4
brotlipy==0.7.0
certifi==2020.12.5
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
defusedxml==0.6.0
discord.py==1.6.0
dnspython==2.1.0
html2markdown==0.1.7
hyperlink==21.0.0
incremental==17.5.0
ipython-genutils==0.2.0
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
joblib==1.0.0
lxml==4.6.2
mathparse==0.1.2
multidict==5.1.0
murmurhash==1.0.5
nltk==3.5
olefile==0.46
pandocfilters==1.4.2
parsel==1.6.0
Pint==0.16.1
plac==0.9.6
preshed==2.0.1
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pymongo==3.11.0
pyOpenSSL==19.1.0
python-dateutil==2.7
python-dotenv==0.15.0
PyYAML==3.12
pyzmq==20.0.0
queuelib==1.5.0
regex==2020.11.13
scikit-learn==0.24.1
Scrapy==2.4.1
Send2Trash==1.5.0
service-identity==18.1.0
sklearn==0.0
soupsieve==2.2
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.5
testpath==0.4.4
thinc==7.0.8
threadpoolctl==2.1.0
tqdm==4.56.0
Twisted==20.3.0
typing-extensions==3.7.4.3
w3lib==1.22.0
wasabi==0.8.2
webencodings==0.5.1
yarl==1.6.3
zope.interface==5.2.0
