aiohttp==3.7.3
anyio
argon2-cffi
async-generator==1.10
async-timeout==3.0.1
attrs
Babel
backcall
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
bleach
blis==0.2.4
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
ChatterBot==1.0.5
chatterbot-corpus
click==7.1.2
cryptography==2.9.2
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
defusedxml==0.6.0
discord.py==1.6.0
entrypoints
html2markdown==0.1.7
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
jedi
Jinja2
joblib==1.0.0
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
MarkupSafe
mathparse==0.1.2
matplotlib
mistune
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict==5.1.0
murmurhash==1.0.5
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk==3.5
notebook
numpy
olefile==0.46
packaging
pandas==1.2.1
pandocfilters==1.4.2
parso
pexpect
pickleshare
Pillow
Pint==0.16.1
plac==0.9.6
preshed==2.0.1
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pymongo==3.11.0
pyOpenSSL==19.1.0
pyparsing
pyrsistent
PySocks
python-dateutil==2.7.3
python-dotenv==0.15.0
pytz
PyYAML==5.1
pyzmq==20.0.0
regex==2020.11.13
requests
scikit-learn==0.24.1
scipy
seaborn
Send2Trash==1.5.0
sip
six
sklearn==0.0
sniffio
soupsieve==2.2
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.5
terminado
testpath==0.4.4
thinc==7.0.8
threadpoolctl==2.1.0
tornado
tqdm==4.56.0
traitlets
typing-extensions==3.7.4.3
urllib3
wasabi==0.8.2
wcwidth
webencodings==0.5.1
yarl==1.6.3
zipp
